<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title lang="ru">All Users</title>
</head>
<body>
<div class="container">
    <h3>Add user</h3>
    <p>Добавить пользователя</p>
</div>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/}" th:object="${new_user}">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><label for="name">name</label></th>
                    <th><label for="age">age</label></th>
                    <th></th>
                </tr>
                </thead>
                <tr>
                    <th><input type="text" th:field="*{name}" id="name" placeholder="Name"/></th>
                    <th><input type="text" th:field="*{age}" id="age" placeholder="Age"/></th>
                    <th><input type="submit" value="Create User"/></th>
                </tr>
                <tr>
                    <th th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</th>
                    <th th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</th>
                </tr>
            </table>
        </div>
    </form>
    <button onclick="window.location.href = 'http://localhost:8080/lol_war_exploded/users';">Назад</button>
</div>
</body>
</html>